.version.gallery /* version checker */
{
	color: #0000E1;
	background-color: #5047DD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 836px;
	min-height: 1101.9215820312502px;
	border-width: 0px;
	border-color: #000000;
	padding-left: 102px;
	padding-right: 82px;
	padding-bottom: 75.07841796874982px;
	margin-left: auto;
	margin-right: auto;
	background: #FFEFD5 url("../images/bg-light-4833.jpg") repeat left top;
}

#u1094
{
	z-index: 2;
	width: 451px;
	margin-left: 182px;
	position: relative;
}

#menuu1415
{
	z-index: 4;
	width: 312px;
	margin-left: 2px;
	position: relative;
}

#u1416
{
	width: 60px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1417
{
	width: 60px;
	padding-bottom: 17px;
	position: relative;
}

#u1417:hover
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1417:active
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1417.MuseMenuActive
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1420-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1417:hover #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1417:active #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1417.MuseMenuActive #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1423
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1424
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1424:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1425-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1424:hover #u1425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1424:active #u1425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1460
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u1461
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1424.MuseMenuActive,#u1461:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1464-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1424.MuseMenuActive #u1425-4,#u1461:hover #u1464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1461:active #u1464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1481
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u1484
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1461.MuseMenuActive,#u1484:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1486-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1461.MuseMenuActive #u1464-4,#u1484:hover #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1484:active #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1502
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u1505
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1484.MuseMenuActive,#u1505:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1505.MuseMenuActive
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1506-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1484.MuseMenuActive #u1486-4,#u1505:hover #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1505:active #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1505.MuseMenuActive #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#ppu1173
{
	width: 0.01px;
	margin-top: 8px;
}

#u1173
{
	z-index: 41;
	width: 267px;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u1173:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1174
{
	z-index: 42;
	width: 267px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1174:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1176
{
	z-index: 45;
	height: 36px;
	width: 267px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	background: transparent url("../images/u1176.png") no-repeat 0px 0px;
}

#u1176:hover
{
	background: transparent url("../images/u1176-r.png") no-repeat 0px 0px;
}

#u1156
{
	z-index: 35;
	width: 267px;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u1156:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1163
{
	z-index: 36;
	width: 267px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1163:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1169
{
	z-index: 39;
	height: 36px;
	width: 267px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	background: transparent url("../images/u1169.png") no-repeat 0px 0px;
}

#u1169:hover
{
	background: transparent url("../images/u1169-r.png") no-repeat 0px 0px;
}

#u1178
{
	z-index: 47;
	width: 267px;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u1178:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1179
{
	z-index: 48;
	width: 267px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1179:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1181
{
	z-index: 51;
	height: 36px;
	width: 267px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 566px;
	background: transparent url("../images/u1181.png") no-repeat 0px 0px;
}

#u1181:hover
{
	background: transparent url("../images/u1181-r.png") no-repeat 0px 0px;
}

#ppu1196
{
	width: 0.01px;
	margin-top: 7px;
}

#pu1173,#pu1196
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 283px;
}

#u1196
{
	z-index: 59;
	width: 267px;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u1196:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1197
{
	z-index: 60;
	width: 267px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1197:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1199
{
	z-index: 63;
	height: 36px;
	width: 267px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	background: transparent url("../images/u1199.png") no-repeat 0px 0px;
}

#u1199:hover
{
	background: transparent url("../images/u1199-r.png") no-repeat 0px 0px;
}

#u1191
{
	z-index: 53;
	width: 267px;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u1191:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1192
{
	z-index: 54;
	width: 267px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1192:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1174:hover::before,#u1163:hover::before,#u1179:hover::before,#u1197:hover::before,#u1192:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 250px rgba(0,0,0,0.66), inset 0px 0px 250px rgba(0,0,0,0.66);
}

#u1194
{
	z-index: 57;
	height: 36px;
	width: 267px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	background: transparent url("../images/u1194.png") no-repeat 0px 0px;
}

#u1194:hover
{
	background: transparent url("../images/u1194-r.png") no-repeat 0px 0px;
}

#u1209
{
	z-index: 65;
	width: 266px;
	height: 436px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u1209:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 267px;
	height: 437px;
	min-height: 1px;
	margin: 0px -9999px 0px 0px;
}

#u1173:hover::before,#u1156:hover::before,#u1178:hover::before,#u1196:hover::before,#u1191:hover::before,#u1209:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: none;
}

.ie #u1209:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1212
{
	z-index: 67;
	height: 36px;
	width: 267px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 570px;
	background: transparent url("../images/u1212.png") no-repeat 0px 0px;
}

#u1212:hover
{
	background: transparent url("../images/u1212-r.png") no-repeat 0px 0px;
}

#u1214
{
	z-index: 70;
	height: 270px;
	width: 230px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 588px;
	background: transparent url("../images/u1214.png") no-repeat 0px 0px;
}

#u1214:hover
{
	background: transparent url("../images/u1214-r.png") no-repeat 6px 6px;
}

.html
{
	background: #FFEFD5 url("../images/bg-light-4833.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 1020px;
}

