.version.index /* version checker */
{
	color: #000010;
	background-color: #42F1E4;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 852.9460664267544px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFEFD5 url("../images/bg-light-4833.jpg") repeat left top;
}

#page_position_content
{
	padding-bottom: 113px;
	width: 0.01px;/* should not cover content below */
}

#u1094
{
	z-index: 2;
	width: 451px;
	margin-left: 284px;
	position: relative;
}

#menuu1415
{
	z-index: 4;
	width: 312px;
	margin-left: 104px;
	position: relative;
}

#u1416
{
	width: 60px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1417
{
	width: 60px;
	padding-bottom: 17px;
	position: relative;
}

#u1417:hover
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1417:active
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1417.MuseMenuActive
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1420-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1417:hover #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1417:active #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1417.MuseMenuActive #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1423
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1424
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1424:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1425-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1424:hover #u1425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1424:active #u1425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1460
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u1461
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1424.MuseMenuActive,#u1461:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1464-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1424.MuseMenuActive #u1425-4,#u1461:hover #u1464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1461:active #u1464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1481
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u1484
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1461.MuseMenuActive,#u1484:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1486-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1461.MuseMenuActive #u1464-4,#u1484:hover #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1484:active #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1502
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u1505
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1484.MuseMenuActive,#u1505:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1505.MuseMenuActive
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1506-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1484.MuseMenuActive #u1486-4,#u1505:hover #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1505:active #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1505.MuseMenuActive #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1100
{
	z-index: 55;
	min-height: 436px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1100-bw
{
	z-index: 55;
	min-height: 436px;
	margin-top: 20px;
}

#pu1029-4
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 31px;
}

#u1029-4
{
	z-index: 35;
	width: 148px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	letter-spacing: 7px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1029-4:hover
{
	text-shadow: 24px 24px 50px rgba(0,0,0,0.7);
	-pie-box-shadow: none;
	box-shadow: none;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u1032-4
{
	z-index: 47;
	width: 141px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	letter-spacing: 7px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u1032-4:hover
{
	text-shadow: 24px 24px 50px rgba(0,0,0,0.7);
	-pie-box-shadow: none;
	box-shadow: none;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1030-4
{
	z-index: 39;
	width: 167px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	letter-spacing: 7px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 367px;
}

#u1030-4:hover
{
	text-shadow: 24px 24px 50px rgba(0,0,0,0.7);
	-pie-box-shadow: none;
	box-shadow: none;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 167px;
	margin: 0px -10000px 0px 0px;
}

#u1031-4
{
	z-index: 43;
	width: 129px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	letter-spacing: 7px;
	position: relative;
	margin-right: -10000px;
	left: 573px;
}

#u1031-4:hover
{
	text-shadow: 24px 24px 50px rgba(0,0,0,0.7);
	-pie-box-shadow: none;
	box-shadow: none;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u1031
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1080-4
{
	z-index: 51;
	width: 138px;
	min-height: 21px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	letter-spacing: 7px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 741px;
}

#u1080-4:hover
{
	text-shadow: 24px 24px 50px rgba(0,0,0,0.7);
	-pie-box-shadow: none;
	box-shadow: none;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 138px;
	margin: 2px -10000px 0px 0px;
}

#u1029,#u1032,#u1030,#u1080
{
	color: #000000;
}

.html
{
	background: #FFEFD5 url("../images/bg-light-4833.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 1020px;
}

