.version.maket2 /* version checker */
{
	color: #0000F0;
	background-color: #CDD3D9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 631px;
	min-height: 226.8715820312504px;
	border-width: 0px;
	border-color: #000000;
	padding-left: 104px;
	padding-right: 285px;
	padding-bottom: 1666.1284179687495px;
	margin-left: auto;
	margin-right: auto;
	background: #FFEFD5 url("../images/bg-light-4833.jpg") repeat left top;
}

#u1094
{
	z-index: 2;
	width: 451px;
	margin-left: 180px;
	position: relative;
}

#menuu1415
{
	z-index: 4;
	width: 312px;
	position: relative;
}

#u1416
{
	width: 60px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1417
{
	width: 60px;
	padding-bottom: 17px;
	position: relative;
}

#u1417:hover
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1417:active
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1417.MuseMenuActive
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1420-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1417:hover #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1417:active #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1417.MuseMenuActive #u1420-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1423
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1424
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1424:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1425-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1424:hover #u1425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1424:active #u1425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1460
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u1461
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1424.MuseMenuActive,#u1461:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1464-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1424.MuseMenuActive #u1425-4,#u1461:hover #u1464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1461:active #u1464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1481
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u1484
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1461.MuseMenuActive,#u1484:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1486-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1461.MuseMenuActive #u1464-4,#u1484:hover #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1484:active #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1502
{
	width: 61px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u1505
{
	width: 61px;
	padding-bottom: 17px;
	position: relative;
}

#u1484.MuseMenuActive,#u1505:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1505.MuseMenuActive
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u1506-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1484.MuseMenuActive #u1486-4,#u1505:hover #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1505:active #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u1505.MuseMenuActive #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

.html
{
	background: #FFEFD5 url("../images/bg-light-4833.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 1020px;
}

