/*

*/

.version.wedding /* version checker */
{
	color: #0000E2;
	background-color: #A709BB;
}

.html
{
	background-color: #FFEFD5;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 267.87470703125064px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFEFD5;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 146px 1563.1252929687494px;
}

#u1094
{
	z-index: 57;
	width: 451px;
	margin-left: 138px;
}

#menuu518
{
	z-index: 2;
	width: 728px;
}

#u526
{
	width: 144px;
	min-height: 75px;
	margin-right: -10000px;
}

#u527
{
	width: 144px;
	padding-bottom: 46px;
}

#u527:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u527:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u528-4
{
	width: 144px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u527:hover #u528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#u527:active #u528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#u533
{
	width: 144px;
	min-height: 75px;
	margin-right: -10000px;
	left: 146px;
}

#u534
{
	width: 144px;
	padding-bottom: 46px;
}

#u527.MuseMenuActive,#u534:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u534:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u535-4
{
	width: 130px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u534:hover #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u534:active #u535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u537
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 30px;
	left: 130px;
}

#u534:hover #u537
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u534:active #u537
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u539
{
	width: 120px;
}

#u539:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u548
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u548:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u549-4
{
	width: 112px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u548:hover #u549-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u541
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u548.MuseMenuActive,#u541:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u542-4
{
	width: 112px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u548.MuseMenuActive #u549-4,#u541:hover #u542-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u561
{
	width: 144px;
	min-height: 75px;
	margin-right: -10000px;
	left: 292px;
}

#u562
{
	width: 144px;
	padding-bottom: 46px;
}

#u534.MuseMenuActive,#u562:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u562:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u565-4
{
	width: 130px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u534.MuseMenuActive #u535-4,#u562:hover #u565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u562:active #u565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u562.MuseMenuActive #u565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u564
{
	z-index: 36;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 30px;
	left: 130px;
}

#u534.MuseMenuActive #u537,#u562:hover #u564
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u562:active #u564
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u562.MuseMenuActive #u564
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u538,#u566
{
	width: 120px;
	top: 75px;
}

#u547,#u540,#u567,#u833
{
	width: 120px;
}

#u834
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u541.MuseMenuActive,#u834.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u836-4
{
	width: 112px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u541.MuseMenuActive #u542-4,#u834.MuseMenuActive #u836-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u575
{
	width: 144px;
	min-height: 75px;
	margin-right: -10000px;
	left: 438px;
}

#u576
{
	width: 144px;
	padding-bottom: 46px;
}

#u562.MuseMenuActive,#u576:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u576:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u578-4
{
	width: 144px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u527.MuseMenuActive #u528-4,#u576:hover #u578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#u576:active #u578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#u519
{
	width: 144px;
	min-height: 75px;
	margin-right: -10000px;
	left: 584px;
}

#u520
{
	width: 144px;
	padding-bottom: 46px;
}

#u576.MuseMenuActive,#u520:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u520:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u520.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u521-4
{
	width: 144px;
	min-height: 29px;
	margin-right: -10000px;
	top: 23px;
}

#u576.MuseMenuActive #u578-4,#u520:hover #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#u520:active #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

#u520.MuseMenuActive #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 144px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__Classica Two_5';
	src: url('../fonts/classicatwo.eot');
	src: local('☺'), url('../fonts/classicatwo.woff') format('woff'), url('../fonts/classicatwo.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

